.dashboard-main-container{
    position: fixed;
    top: 6.5%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height:100%;
    width: 100%;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(161, 161, 161);
    height: 100%;
    width: 11.5%;
    background-color: black;
}
.new-playlist-btn{
    margin-bottom: 300px;
}

.dashboard-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    align-self: stretch;
    font-family: 'Merriweather', serif;
    width: 10%;
    height: 100%;
    color: rgb(240, 234, 234);
    background-color: rgb(155, 103, 142);
    width:88.5%;
  }
  .album-form{
      display: flex;
      flex-direction: column;
  }
  .playlist-btn{
    margin-top: 15px;
    color: rgb(161, 161, 161);
  }
  .playlist-btn:hover{
      color: white;
  }
 
  .create-playlist-btn:hover{
      color: white;
  }
  .all-playlists-container{
      box-sizing: border-box;
      width: 100%;
      height: 70%;
      overflow: scroll;
      overflow-x: hidden;
      
  }
  .new-playlist-icon{
    height: 25px;
    width: 25px;
    margin-right: 4px;
    margin-left: 7px;
    margin-bottom: 12px;
  }
  .create-playlist-label{
      margin-left: 4px;
  }

  .create-timer-btn{
      margin-bottom: 10px;
  }
  .new-timer-icon{
      height: 20px;
      width: 20px;
      margin-right: 10px;
      margin-left: 10px;
  }
  .create-timer-btn:hover{
    color: white;
}
.playlist-btn{
    list-style-type: none;
}

.timers{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
}

.featured-playlists-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width:90%;
}

.featured-playlist-img{
width: 80%;
height: auto;
margin-top: 20px;
}
.spotify-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 275px;
    width: 200px;
    border-radius: 6px;
    margin-right: 20px;
    background-color: rgba(26,26,26,255);
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 5px 8px #000000;
}
.spotify-playlist:hover{
    background-color: rgb(51, 50, 50);

}

.featured-spotify-title{
    margin-top: 10px;
    box-shadow: 3px
}

.timer-li{
    list-style: none;
    margin-top: 6px;
}
.timers-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    color:rgb(199, 196, 196);
    width: 100%;
    height: 10%;
}


.timer-li:hover {
    color: white;
}

.timer-label{
    color:gray;
}
.timer-label:hover{
    color: white;
}