.dashboard-main-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 50vh; /* Ensure the container takes at least the full viewport height */
    overflow: visible;
    height: 100%;
    background-color: rgb(155, 103, 142);

}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(161, 161, 161);
    height: 100%;
    width: 11.5%;
    background-color: black;
}
.new-playlist-btn{
    margin-bottom: 300px;
}

.dashboard-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    align-self: stretch;
    font-family: 'Merriweather', serif;
    height: 100%;
    color: rgb(240, 234, 234);
    background-color: rgb(155, 103, 142);
    width:88.5%;
    position: relative;
    min-height: 40vh;
    overflow: auto;
}
  .album-form{
      display: flex;
      flex-direction: column;
  }
  .playlist-btn{
    margin-top: 15px;
    color: rgb(161, 161, 161);
  }
  .playlist-btn:hover{
    cursor: pointer;
    color: white;
  }
 
  .create-playlist-btn:hover{
      color: white;
  }
  .all-playlists-container{
      box-sizing: border-box;
      width: 100%;
      height: 70%;
      overflow: scroll;
      overflow-x: hidden;
      
  }
  .new-playlist-icon{
    height: 25px;
    width: 25px;
    margin-right: 4px;
    margin-left: 7px;
    margin-bottom: 12px;
  }
  .create-playlist-label{
      margin-left: 4px;
  }

  .create-timer-btn{
      margin-bottom: 10px;
  }
  .new-timer-icon{
      height: 20px;
      width: 20px;
      margin-right: 10px;
      margin-left: 10px;
  }
  .create-timer-btn:hover{
    color: white;
    cursor: pointer;

}
.playlist-btn{
    list-style-type: none;
}

.timers{
    box-sizing: border-box;
    width: 100%;
    height: 20%;
}

.featured-playlists-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width:90%;
}

.featured-playlist-img{
width: 80%;
height: auto;
margin-top: 20px;
}
.spotify-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 275px;
    width: 200px;
    border-radius: 6px;
    margin-right: 20px;
    background-color: rgba(26,26,26,255);
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 5px 8px #000000;
}
.spotify-playlist:hover{
    background-color: rgb(51, 50, 50);
    cursor: pointer;


}

.featured-spotify-title{
    margin-top: 10px;
    box-shadow: 3px
}

.timer-li{
    list-style: none;
    margin-top: 6px;
}
.timers-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    color:rgb(199, 196, 196);
    width: 100%;
    height: 10%;
}


.timer-li:hover {
    color: white;
    cursor: pointer;

}

.timer-label{
    color:gray;
}

.timer-label:hover{
    color: white;
}

.create-timer-btn {
    margin-top: 20px;
    background-color: #883181; /* Green */
    border: none;
    color: rgb(7, 4, 4);
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
.create-timer-btn:hover {
    cursor: pointer;

}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    /* appearance: none;       Remove default arrow */
    background-color: rgb(255, 255, 255);   
    /* Add custom arrow */
 }

 option{
    font-family: 'Merriweather', serif;
    font-weight: 505;
 }
 .edit-playlist-form-container{
display: flex;
flex-direction: column;
 }
 