.featured-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(180deg, rgb(95, 51, 88),rgb(95, 51, 88));  
}
.featured-main-content{
    display: flex;
    flex-direction: column;
    float: right;
    align-self: stretch;
    width: 10%;
    height: 100%;
    color: rgb(14, 10, 10);
    background-image: linear-gradient(180deg, rgb(136, 66, 124),rgb(23, 23, 24));
    width:88.5%;
  }


.songs-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 90%;
      height: 52%;
      margin-left: 120px;
      overflow: scroll;
      overflow-x: hidden;
      color: rgb(15, 15, 15);

  }

  .featured-column-1{
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      color: white;
      width: 100%;
      height: 100%;
      text-align: left;
  }

.featured-li{
    list-style: none;
    width: 100%;
}
.featured-ul{
    list-style-type: none;  
}
.song-metadata-container{
    margin-top: 12px;
    display: flex;
    width:100%;
    text-align: left;
    font-family: 'Merriweather', serif;
    
}

.song-list{
    width: 100%;
}
.song-name{
    width: 500px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(196, 192, 192);
    cursor:pointer;
}
.song-name:hover {
    color: white;
}
.album-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    width: 500px;
    margin-left: 75px;
    color: rgb(182, 179, 179);

}
.song-duration{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 60px;
    color: rgb(182, 179, 179);

}
.all-labels{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(216, 216, 216);
    display: flex;
    width: 100%;
}


.featured-label-number{
    margin-left: 10px;
}
.featured-label-title{
    margin-left: 80px;
}
.featured-label-album{
    margin-left: 600px;
}
.featured-label-duration{
    margin-left: 440px;
}
.song-art{
    box-sizing: border-box;
    width:40px;
    height: 40px;
    margin-left: 40px;
}

.song-number{
margin-left: 10px;
width: 20px;
text-align: left;
margin-top: 10px;
}
.add-song{
    box-sizing: border-box;
    margin-top: 9px;
    width: 25px;
    width: 25px;
    margin-left: 2px;
    cursor:pointer;
}

.playlist-desc-bottom{
    color: rgb(24, 20, 20);
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-left: 20px;
}

.all-playlist-form-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.make-playlist-form{
    display: flex;
    align-items: center;
}
.all-playlist-form-items{
    margin-bottom: 150px;
}
.play-pause-icon{
    box-sizing: border-box;
    width: 25px;
    height: 23px;
    margin-top: 8px;
    margin-left: 12px;

}

.song-name-bottom{
    margin-top: 55px;
    font-size: 45px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(18, 19, 20);
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.song-desc-bottom{
    display: flex;
    color: rgb(18, 19, 20);
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.artist-name{
    margin-left: 10px;
}
.artist-name:hover{
    margin-left: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}

.play-and-pause{
    box-sizing: border-box;
    width: 35px;
    width: 35px;
    /* margin-left: 2px; */
    cursor:pointer;
}

.song-name-single{
    
    margin-top: 14px;
    width: 500px;
    margin-left: 75px;
    text-align: left;
    color: rgb(182, 179, 179);
    cursor:pointer;
}

.song-name-single:hover {
    color: white;
}
.song-duration-single{
    margin-right: 60px;
    margin-top: 14px;
    color: rgb(182, 179, 179);
}
.add-to-playlists{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.add-to-all-playlist-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 95%;
}
.playlist-form-item{
    margin-top: 10px;
    width: 40%;
}
