.main-container{
    position: fixed;
    top: 6.5%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height:100%;
    width: 100%;
    background-image: linear-gradient(rgb(214, 104, 155), rgb(14, 14, 9)) ;
}

.title-container{
    display: flex;
    top:20%;
    height: 20%;
    align-items: center;
    justify-content: center;
    width: auto;
    background-image: linear-gradient(rgba(94, 81, 81, 0.521), rgba(177,128,144,255))
    ;
}
.title-container{
    font-family: 'Merriweather', serif;
    font-size: 42px;
}
.background{
    height: 100%;
    background-image: url('../styles/images/Vaporwave-Background-Gif-1920x1080-Spicesncurry.com.gif');
}