nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 50px;
    padding: 0 30px;
    margin: 0px;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
    background-color: black;
    width: 100%;
}

.navbar-background{
    width: 95%;
}

.signup {
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    background-color: rgb(103, 149, 218);
    font-size: 20px;
    font-weight: bold;
}

.login {
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    background-color: rgb(156, 104, 139);
}
 
.home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    background-color: rgb(224, 209, 224);
}

.feather_icon {
    color: black;
    display: flex;
    align-items: center;
}

.feather_icon_container {}

.fa-feather:before {
    margin-left: 5px;
}

.nav_icons {
    display: flex;
}

.dashboard {
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-right: 5px;
}

.welcome_message_container {}

.welcome_message_outer_container {}

.welcome_message_inner_container {
    display: block;
    border-radius: 10px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
}

.search_outer_container {
    display: flex;
}

.search_inner_container {
    display: flex;
    justify-content: flex-end;
}

.search_container {
    display: inline-block;
    /* margin-inline: 350px; */
    margin-right: 1470px;
}

.search {
    /* position: absolute;
    right: 740px; */
    /* margin-right: 620px;
    margin-bottom: 15px; */
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    margin-left: 80px;
}

.search:hover,
.search:focus {
    border: 1.5px solid #c963aa;
    background-color: white;
}

.logout_btn {
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-left: 1070px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-inline: 80px;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #f6f6f6;
    min-width: 100px;
    max-width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: auto;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightskyblue;
}

.second_outer_container {
    display: flex;
    flex-direction: row;
    /* margin-inline: 1000px; */
}

.logout-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.logout {
    color: black;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    padding: 0px 36px;
    height: 48px;
    min-width: 144px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 1450px;
    background-color: rgb(190, 183, 199);
}

/* .avatar-container{
    width: 1%;
    height: 1%;
}

.user-avatar{
    border-radius: 50%;
} */
