

  .new-playlist-btn{
      width: auto;
  }
.playlist-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    align-self: stretch;
    width: 10%;
    height: 100%;
    color: rgb(2, 2, 2);
    background-color: rgb(82, 86, 136);
    width:88.5%;
  }
  .album-form{
      display: flex;
      flex-direction: column;
  }