

  .new-playlist-btn{
      width: auto;
  }
.playlist-main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: right;
    align-self: stretch;
    width: 10%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(48, 140, 177);
    width:88.5%;
  }
  .album-form{
      display: flex;
      flex-direction: column;
  }
  .example-1{
    border-radius: 10px;
    box-shadow: 5px 8px #000000;

  }

  .example-2{
    border-radius: 10px;
    box-shadow: 5px 8px #000000;

  }
  .album-form{
    display: flex;
    align-items: center;
  }
  .your-playlist-label{
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
  }
  .p-label{
    font-family: 'Merriweather', serif;
    font-weight: 700;

  }
.playlist-form-name-input{
  border: none;
  background: transparent;
  outline: none;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.playlist-form-name-input::placeholder{
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}